<section>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
        <mat-form-field class="signup-form">
            <input 
            type="email" 
            matInput 
            placeholder="Email address" 
            ngModel 
            name="email"
            email
            required
            #emailInput="ngModel">
            <mat-error *ngIf="!emailInput.value?.length" >must not be empty</mat-error>
            <mat-error>invalid email</mat-error>
        </mat-form-field>
        <mat-form-field class="signup-form">
            <mat-label></mat-label>
            <input
            type="password" 
            matInput placeholder="Password" 
            ngModel 
            name="password"
            password
            required
            minlength="6"
            #pwInput="ngModel">
            <mat-hint align="end"> {{pwInput.value?.length}} / 6</mat-hint>
            <mat-error>Needs to be at least 6 chars</mat-error>
        </mat-form-field>        
        <button *ngIf="!(isLoading | async )" class="submit-button" type="submit" color="primary" [disabled]="form.invalid" mat-raised-button>Submit</button>
        <mat-spinner *ngIf="isLoading | async"></mat-spinner>
    </form>
</section>