<main class="new-exc">
  <section>
    <form (ngSubmit)="onStart(f)" #f="ngForm">
      <mat-card class="card">
        <mat-card-title>
          {{ exc.name }}
        </mat-card-title>
        <mat-card-content>
          {{ exc.description }}
        </mat-card-content>
        <mat-card-content>
          <br />
          <mat-form-field appearance="fill">
            <mat-label>Select from the list</mat-label>
            <mat-select ngModel name="exercise" required>
              <mat-option *ngFor="let exc of exercises$ | async" [value]="exc.name">{{
                exc.name
              }}</mat-option>
            </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button type="submit" [disabled]="f.invalid">sTaRt</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </section>
</main>
